body{
  font-family: 'Roboto', sans-serif;
}
#User{
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 13px;
}
#User img{
    width: auto;
    height: 150%;
    margin-top: -5px;
    margin-left: -3px;
    

}
#Menu img{
  width: 17px;
  height: 17px;
  margin-top: 9px;
  margin-right: 20px;
  filter:contrast(40%);
}
nav{
    height: 40px;
    margin-bottom: 5px;
    margin-top: 14px;
} 
.nav{
  float: right;
  height: 40px;
}
.nav a{
  color: dimgray;
  text-decoration: none;
  font-size: 12px;
  
}
#mail, #Imag{
  padding-top: 7px;
  margin-right: 30px;
}
.logoD{
  margin:auto ;
  width :300px;
  margin-bottom: 15px;
}
#logo{
margin:auto;
width:300px;
}
#barradiv{
  width: 600px;
  border: solid 1px;
  border-color: rgb(223, 223, 223);
  height: 45px;
  margin: auto;
  border-radius: 30px;
}
#barradiv:hover{
  border: none;
  box-shadow: 0 0 10px rgba(34, 34, 34, 0.993);
}

.lupa{
  float: left;
  height: 24px;
  width: 24px;
  margin-left: 10px;
  margin-top: 10px;
}

#input-search{
  float: left;
  outline: none;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-top: 8px;
  margin-left: 0px;
  
}
#botones{
  margin: auto;
  margin-top: 25px;
  width: 350px;
}
.button{
  width: 170px;
  height: 40px;
  display: inline-block;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: dimgray;
}

footer{
  background-color: rgb(247, 247, 247);
  position:fixed;
  left:0px;
  bottom:0px;
  width: 100%;
}
#barmex{
  background-color: rgb(247, 247, 247);
  color: dimgray;
  border-bottom:  1px solid;
  border-color: rgb(223, 223, 223);
  padding-left: 40px;
  height: 30px;
  padding-top: 15px;
}
#barmex p{
  display: block;
  font-size: 16px;
  margin: 0px;
}

#linksfooter{
  background-color: rgb(247, 247, 247);
  height: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
}
.linksleft{
  float:left;
  color: dimgray;
  text-decoration: none;
  font-size: 16px;
  margin-right:30px;
}
.linksright{
  float:right;
  color: dimgray;
  text-decoration: none;
  font-size: 16px;
  margin-right:30px;
}
