body{
  font-family: 'Roboto', sans-serif;
}
#User{
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}
#User img{
    width: auto;
    height: 150%;
    margin-top: -5px;
    margin-left: -3px;
    

}
#Menu img{
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-right: 20px;
  filter:contrast(40%);
}
nav{
    height: 40px;
    margin-bottom: 30px;
    margin-top: 20px;
} 
.nav{
  float: right;
  height: 40px;
}
.nav a{
  color: dimgray;
  text-decoration: none;
  
}
#mail, #Imag{
  padding-top: 9px;
  margin-right: 30px;
}
.logoD{
  margin:auto ;
  width :350px;
  margin-bottom: 35px;
}
#logo{
margin:auto;
width:400px;
}
#barradiv{
  width: 850px;
  border: solid 1px;
  border-color: rgb(223, 223, 223);
  height: 60px;
  margin: auto;
  border-radius: 30px;
}
#barradiv:hover{
  border: none;
  box-shadow: 0 0 10px rgba(34, 34, 34, 0.993);
}

.lupa{
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-left: 20px;
}

#input-search{
  outline: none;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  margin-top: 10px;
  margin-left: 0px;
  
}
#botones{
  margin: auto;
  margin-top: 50px;
  width: 500px;
}
.button{
  width:230px;
  height: 50px;
  display: inline-block;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  border: none;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  color: dimgray;
}

